<div class="chat-side">
  <%# サイドのヘッダー %>
  <div class="side-header">
    <%# <a href="#" class="user_name">Tom</a> %>
    <%= link_to "Tom", edit_user_path(:id), method: :get, class: "user_name" %>
    <a href="#" class="new_group">チャットを作成する</a>
  </div>
  <%# サイドのメイン %>
  <div class="groups">
    <ul class="chat_lists">
      <li class="chat_list">techroom1</li>
      <li class="chat_list">techroom2</li>
    </ul>

  </div>
</div>